
<img style="width:50%" src="/assets/images/melissa-headshot.jpg">

<p></p>
<p>Welcome to my practice.</p>

<p>I am a licensed clinical social worker located in St. Louis, Missouri offering short and long-term psychotherapy to adolescents and adults. I have over a decade of experience working with adolescents, adults, families and groups in both short and long-term treatments for a range of emotional and interpersonal concerns. </p>

<p>
Whether you are looking to alleviate emotional suffering, change certain behaviors, move in a new direction in your life or find greater balance and well-being, essential to effective therapy, is a strong, trusting relationship between therapist and client. My approach is compassionate, non-judgmental and integrative -- drawing from different theoretical frameworks to understand the root of one's suffering. As a therapist, I value honesty, thoughtfulness, warmth and humor. I view psychotherapy as a collaboration between therapist and client and feel very privileged to do this work. It is brave to seek treatment and I look forward to joining you on this path.
</p>

<!--p>I have a uniquely broad training background and utilize different treatment models, including psychodynamic, interpersonal, mindfulness and skills-based therapies such as CBT (cognitive behavioral therapy) ACT (acceptance and commitment therapy) and DBT (dialectical behavior therapy) to best tailor a treatment and to meet your individual needs and goals. </p>

<p>Essential to positive change is a strong, trusting relationship between therapist and client. My approach is compassionate, non-judgmental, collaborative and integrative--><!-- drawing from different theoretical frameworks to understand the root of one's suffering. It is very brave to seek treatment and commit to change and I look forward to joining you on this path to greater balance and well-being.</p-->